@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --forsythia: #FFC801;
  --nocturnal-expedition: #114C5A;
  --arctic-powder: #F1F6F4;
  --mystic-mint: #D9E8E2;
  --deep-saffron: #FF9932;
  --oceanic-noir: #172B36;
}

body {
  background-color: var(--oceanic-noir);
  color: var(--arctic-powder);
}
